/* universal styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 22px;
}

body {
    background-color: black;
    color: seashell;
    font-family: Helvetica, sans-serif;
    font-weight: 500;
    opacity: .9;
    text-align: center;
}

a {
    color: seashell;
}

a:hover {
    color: #ddd;
}

h2,
h4 {
    margin: .5em;
}

/* header style */

header {
    display: flex;
    width: 100%;
    min-height: 69px;
    position: fixed;
    top: 0;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid seashell;
    background-color: black;
}

header img {
    display: flex;
    max-height: 50px;
    width: auto;
}

header ul {
    display: inline-flex;
}

header li {
    display: inline;
    margin: 0 .5rem;
}

/* body style */

#mission {
    display: flex;
    flex-direction: column;
    margin: 71px auto;
    width: 93.75vw;
    height: 93.42vh;
    background-image: url(img/img-mission-background.jpg);
    background-position: center;
    background-size: cover;
    justify-content: center;
    align-items: center;
}

.title-container {
    background-color: black;
    width: 100%;
}

.card-container {
    display: flex;
    margin: 0 auto;
    width: 78vw;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    display: flex;
    margin: 1%;
    flex-direction: column;
    justify-content: center;
}

.card img {
    margin: 10px;
    width: 23.4vw;
    height: auto;
}

@media only screen and (max-width: 1054px) {

    /* tea section */

    .card {
        flex-direction: row;
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    .card:nth-child(even) {
        flex-direction: row-reverse;
    }

    .card img {
        width: 50%;
    }
}

@media only screen and (max-height: 734px) {

    /* body style */

    #mission {
        margin: 69px auto;
    }
}


@media only screen and (max-width: 568px) {

    /* header style */

    header {
        display: block;
        max-height: none;
        position: static;
    }

    header img {
        margin: auto;
    }

    header ul {
        display: block;
    }
    
    header li {
        display: block;
    }

    /* body style */

    #mission {
        width: 100%;
        height: 81vh;
        margin: 0;
    }

    h4 {
        font-weight: normal;
    }
}