/* universal styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: black;
    color: seashell;
    font-family: Helvetica, sans-serif;
    font-size: 22px;
    font-weight: 500;
    opacity: .9;
    text-align: center;
}

a {
    color: seashell;
}

a:hover {
    color: #ddd;
}

/* header style */

header {
    display: flex;
    width: 100%;
    max-height: 69px;
    position: fixed;
    top: 0;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid seashell;
}

header img {
    display: flex;
    max-height: 50px;
    width: auto;
}

header ul {
    display: inline-flex;
}

header li {
    display: inline;
    margin: 0 .5rem;
}

 @media only screen and (max-width: 568px) {
    header {
        display: block;
        max-height: none;
        position: static;
    }

    header img {
        margin: auto;
    }

    header ul {
        display: block;
    }
    
    header li {
        display: block;
    }
}

/* body style */

#mission {
    display: flex;
    margin: 69px 2.5% 0 2.5%;
    flex-basis: 1200px;
    flex-grow: 1;
    height: 700px;
    background-image: url(img/img-mission-background.jpg);
    background-position: center;
    background-size: cover;
}
