body {
    background-image: url(img/bg.jpg);
    margin: 0;
    padding: 0;
}

code {
    background-color: lightgrey;
    border-radius: 5px;
    font-family: 'Fira Mono', monospace;
    font-size: 11pt;
    opacity: .8;
    padding-left: 1mm;
    padding-right: 1mm;
    padding-top: 1pt;
    padding-bottom: 1pt;
}

h1 {
    font-size: 36pt;
    margin-bottom: 0;
    margin-top: 0;
    padding: .5em;
    padding-bottom: .1em;
}

h2 {
    color: #000066;
    font-size: 28pt;
    margin-top: .4em;
    padding: 0 .5em .33em .5em;
    text-align: center;
}

footer {
    font-variant: small-caps;
    margin-top: .1em;
    text-align: right; 
}

footer a {
    color: white;
    font-variant: normal;
}

footer p {
    margin-bottom: 0;
    padding-bottom: 0;
    padding-top: .5em;
    padding-right: 1em;
}

header, footer {
    background-color: #000066;
    color: white;
}

header h2 {
    text-align: left;
    color: white;
}

table {
    border-collapse: collapse;
    border: 1pt solid #000066;
    margin: 0 auto 45px auto;
    width: 80%;
}

tr {
    background-color: white;
}
th {
    background-color: #000066;
    color: white;
    font-variant: small-caps;
    font-size: 15pt;
}

th, td {
    padding: .5em;
}

tr:nth-child(even) {
    background-color: #e6e6ff;
}

.rag_left {
    text-align: left;
}