* {
  margin: 0;
  padding: 0;
}

main {
  font-size: 16px;
  display:flex;
  flex-direction: column;
  height: 100vh;
  justify-content: flex-start;
  background-color: #0D083B;
}

h1 {
  color: white;
  font-size: 6vh;
  text-align: center;
  padding-top: 5%;
}