body {
    background-color: rgb(255, 199, 64);
    font-family: Arial, Helvetica, sans-serif;
}

header.container {
    background-color: white;
    padding: 0;
}

header img {
    width: 30%;
}

input {
    margin: 5px;
}


input[type="number"] {
    width: 1cm;
}

input[type="radio"] {
    margin-left: 2vw;
}

input[type="submit"] {
    margin: 20px;
    width: 20%;
    height: 40px;
    font-size: 12pt;
    font-weight: 500;
}

textarea {
    vertical-align: middle;
}

main {
    background-color: rgba(255, 255, 255, 0.8);
}

select {
    margin: 5px;
}

.container {
    border-radius: 15px;
    margin: 15px 10%;
    padding: 15px 10px;
    text-align: center;
}

.word {
    text-decoration: underline;
}