/* global styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
}

h1, h2 {
  font-family: 'Montserrat', Helvetica, sans-serif;
}

.center {
  text-align: center;
}

/* header style */

header img {
  margin: 1vh;
}

/* static style */

#static-container {
  display: flex;
  flex-direction: column;
  height: 40vh;
  min-height: 140px;
  justify-content: center;
  align-items: center;
  background-image: url('https://s3.amazonaws.com/codecademy-content/courses/intermediate-javascript-requests/wanderlust/background_photo_desktop.jpg');
  background-attachment: center;
  background-size: cover;
  }

h1 {
  color: white;
  font-size: 4rem;
  margin: .6em;
}

form {
  width: 100%;
  text-align: center;
}

input, button {
  height: 5vh;
}

#destination-field {
  background-color: transparent;
  border: 2px solid white;
  border-radius: 5px;
  width: 15%;
  min-width: 240px;
  min-height: 30px;
  padding: 1%;
  color: white;
}

button {
  min-height: 30px;
  padding: 0 2%;
  background-color: #27b7c1;
  color: white;
  border-radius: 5px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  letter-spacing: .5px;
}

button:hover {
  cursor: pointer;
}

/* Dynamic styles */

.informations {
  margin: 2rem auto;
  width: 70%;
}

h2 {
  font-size: 1.5rem;
  font-weight: 300;
  letter-spacing: .2em;
  color: #4a4a4a;
}

#destination {
  font-size: 2rem;
  color: #27b7c1;
  font-weight: 600;
  letter-spacing: normal;
  margin-bottom: 1rem;
}

.card-container {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  min-width: 250px;
  margin: 2rem 0;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  width: 20%;
  min-width: 250px;
  min-height: 235px;
  padding: 1em;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.5);
}

h3 {
  text-align: center;
  font-weight: 300;
}

h4 {
  color: #27b7c1;
  font-weight: 400;
}

.icon {
  height: auto;
  margin: 0 auto;
}

.location {
  min-width: 64px;
}

.weather {
  min-width: 90px;
}

table {
  width: 100%;
  font-weight: 300;
}

th {
  text-align: left;
}

/* footer style */

footer {
  background-color: #63c7e9;
  color: white;
  text-align: right;
  padding: .5rem 1rem;
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
}

footer a {
  text-decoration: none;
  color: white;
  font-weight: 800;
}

/* portable styles */

@media only screen and (max-width: 1024px) {

  h1 {
    font-size: 2rem;
  }

  #static-container {
    height: 20vh;
  }

  .informations {
    width: 90%;
  }
}

@media only screen and (max-width: 714px) {

  .informations {
    width: 95%;
    text-align: center;
  }
}

@media only screen and (max-width: 508px) {

  header img {
    height: 2vh;
  }

  h1 {
    font-size: 1.2rem;
  }

  #destination-field {
    min-width: 160px;
  }

  #static-container {
    height: 20vh;
  }

  h2 {
    font-size: 1rem;
  }

  p, td, button {
    font-size: 10pt;
  }

  footer {
    padding: 0 5px;
  }
}